#container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

#form{
    background-color: aliceblue;
    width: 600px;
    height: 500px;
}