/* Color Palette
    7EACB5 - blue
    FFF4EA - white
    FADFA1 - yellow
    C96868 - red
*/

*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    margin: 20px;
    background-color: #C96868;
}

#title{
    text-align: center;
    color: #FFF4EA;
    font-size: 35px;
    margin-bottom: 60px;
}

.container{
    display: flex;
}

.box{
    background-color: #7EACB5;
    height: 300px;
    width: 300px;
    margin: 10px;
    display: flex;
}